extends layout

block content
  h1 Equipos de futbol
  div
    label Ingrese un equipo: 
    input(
      type= 'text'
      class= 'nombreT'
    )
    br
    label Ingrese el pais de origen: 
    input(
      type= 'text'
      class= 'pais'
    )
    br
    label Ingrese el director tecnico: 
    input(
      type= 'text'
      class= 'director'
    ) 
    br
    label Ingrese el capitan: 
    input(
      type= 'text'
      class= 'capitan'
    )
    br
    label Ingrese la liga a la que pertence el equipo: 
    input(
      type= 'text'
      class= 'liga'
    )      